<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.3.1" targetFramework="net45" />
  <package id="Schtick" version="1.0.3" targetFramework="net45" />
  <package id="Schyntax" version="1.0.1" targetFramework="net45" />
  <package id="SimpleInjector" version="2.6.1" targetFramework="net45" />
</packages>