<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FAfx.PomoFish" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <FAfx.PomoFish>
    <clear/>
    <add key="WorkingPeriodInMinutes" value="25"/>
    <add key="RestPeriodInMinutes" value="5"/>
    <add key="PlaySound" value="true"/>
    <add key="TakeSnapshots" value="true"/>
    <add key="SnapshotPeriodInSeconds" value="60"/>
  </FAfx.PomoFish>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true" useGlobalLock="false" />
    <sources>
      <source name="FAfx.PomoFish" switchValue="All" >
        <listeners>
          <remove name="default" />
          <add name="xmlAll" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xmlAll"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="xmlAll.svclog" />
    </sharedListeners>
  </system.diagnostics>
</configuration>